.photo {
  padding: 1rem;
  position: relative;
  img {
    border-radius: 0.5rem;
  }
  &--left {
    float: left;
    padding-right: 3rem;
  }
  &--right {
    float: right;
    padding-left: 3rem;
  }
  @include sizeXl {
    float: none;
    padding: 1rem;
  }
}