.custom-field {
  text-align: left;
  font-size: 1rem;
  position: relative;
  display: block;
  border-top: 20px solid transparent;
  input {
    border: 2px solid white;
    background: #f2f2f2;
    padding: 12px;
    border-radius: 5px;
    width: 250px;
    font-size: 1rem;
    outline: none;
  }
  transition: border 0.3s ease;
  &.custom-field--success {
    input:focus {
      transition: border 0.3s ease;
      border: 2px solid green;
    }
  }
  &.custom-field--error {
    input:focus {
      transition: border 0.3s ease;
      border: 2px solid red;
    }
  }
  .placeholder {
    position: absolute;
    left: 12px;
    top: 22px;
    transform: translateY(-50%);
    width: calc(100% - 24px);
    color: $grey;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: 
    top 0.3s ease,
    color 0.3s ease,
    font-size 0.3s ease;
  }
  &__eye {
    position: absolute;
    right: 10px;
    bottom: 8px;
  }
}
%up {
  top: -10px;
  font-size: 10px;
  color: $dark;
}
.custom-field input:not(:placeholder-shown) + .placeholder {
  @extend %up; 
}
.custom-field input:focus + .placeholder {
  @extend %up; 
}