.marquageReine{
  li {
    list-style: none;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    p {
      margin: auto 0;
    }
  }
  .circle {
    padding: 0.2rem;
    width: 2rem;
  }
  .stack {
    display: flex;
    padding: 0.2rem;
  }
}