.container {
  display: block;
  margin: 3rem;
  padding: 2rem;
}
@mixin stack($flexDirection) {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: $flexDirection;
}
.stack-vertical {
  @include stack(column);
}

.stack-horizontal {
  @include stack(row);
}