@import "./variables.scss";
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;
  font-size: 100%;
  font-family: $Poppins;
  color: $textLight;
  display: flex;
  flex-direction: column;
}

.content {
  padding: 1.6rem;
  flex-grow: 1;
  // background-color: blue;
}

footer {
  text-align: center;
  color: $light;
  // background-color: $dark;
}

#root {
  height: 100%;
}
// p {
//   text-indent: 1rem;
//   padding-top: 1rem;
//   &:first-chil {
//     text-indent: 0;
//   }
// }

@import "./dev/image.scss";
@import "./dev/titles.scss";
@import "./dev/butons.scss";
@import "./dev/modal.scss";
@import "./dev/input.scss";
@import "./dev/containers.scss";
@import "./dev/grid.scss";
